@import colors

#tableContainer
  width: 90%
  height: 90%
  position: relative
  left: 5%
  top: 5%
  background-color: white

  #table
    width: 80%
    position: relative
    left: 10%


#passwordContain
  width: 30%
  position: relative
  left: 35%
  top: 40%
  background-color: $maize
  padding: 5px

  form
    width: 70%
    position: relative
    left: 15%
    text-align: center
